@mainColor: rgb(52, 130, 225);
@standartWidth: 70%;
@TopPanelHeight:100px;

@import "structure/header";
@import "structure/start-hero";
@import "structure/map-container";
@import "structure/city-template";
@import "city-card";

#maps {
  width: 100%;
  height: 89.2vh;
}

h2{
  margin:0;
}
