@mainColor: rgb(52, 130, 225);
@standartWidth: 70%;
@TopPanelHeight:100px;

@import "structure/header";
@import "structure/start-hero";
@import "structure/map-container";
@import "structure/city-template";
<<<<<<< HEAD
@import "structure/city-card";
=======
@import "structure/footer";
@import "city-card";
>>>>>>> 1df64e57c45d899da40fc3c2501bf1128fdb3057

h2{
  margin:0;
}
