@mainColor: #FFBD47;
@standartWidth: 70%;
@TopPanelHeight:50px;

@import "structure/header";
@import "structure/start-hero";
@import "structure/map-container";
@import "structure/city-template";
@import "structure/city-card";
@import "structure/footer";

h2{
  margin:0;
}
