<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div class="lending" style="background-image: url(assets/images/about.jpg)">
        <div class="new-user-hero container">
            <div class="left">
                <h1 class="heading">Hi! Thank you for being here! </h1>
                <h3>Welcome to The BackPack, your personal travel advisor.</h3>
                <h3>We have the best lifehacks for you.</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row our-team">
            <h2> our team</h2>
        </div>
        <div class="img-row">
            <div class="my-container col-md-4">
                <img src="assets/images/vlad-c.png" alt="Avatar" class="image">
                <div class="middle">
                    <div class="text">Vlad</div>
                </div>
            </div>
            <div class="my-container col-md-4">
                <img src="assets/images/mar-c.png" alt="Avatar" class="image">
                <div class="middle">
                    <div class="text">Mariia</div>
                </div>
            </div>
            <div class="my-container col-md-4">
                <img src="assets/images/naz-c.png" alt="Avatar" class="image">
                <div class="middle">
                    <div class="text">Nazar</div>
                </div>
            </div>
        </div>
        <div class="text-container">
            <div class="text-about">
                <p>The BackPack is the easiest way to find unique places you’ll love in cities around the world. It’s pretty simple – just read comments and leave yours. We have collected information about the most popular places in the world.
                </p>
                <p>If you are tired of crowded tourist places, you'll definitely find something interesting here. All in all, read comments, pack your personal web-backpack and as soon as possible go on some crazy trip.
                </p>
            </div>
        </div>
    </div>

    <div class="niceStaff">
        <img src="assets/images/port.png">
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>