<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div class="backpack-lending" style="background-image: url(assets/images/backpackBackground.png)">
        <div class="new-user-hero-backpack container">
            <div class="right">
                <h1 class="heading">Find the most interesting travel tips for your journey</h1>
                <h3> BackPack is a friendly community of world wanderers sharing advice and inspiration</h3>
            </div>
        </div>
    </div>
    <div class="backpack-container">
    <div class="container">
        <div class="row">
            <p class="greetings-backpack">your backpacks</p>
        </div>
        <div class="row" id="city-favourite-comments-container">
        <div class="col-md-6" id="com">
            <div class="city-favourite-comments-panel">
                <div class="backpack-city-name">
                    <h2>Paris</h2>
                </div>
                <div class="backpack-commnets">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>username</strong> <span class="text-muted">commented 13-12-2017 10:09</span><span class="favorite  glyphicon glyphicon-star-empty "></span>
                        </div>
                        <div class="panel-body">
                            kdslkfmskdlfmksdmflksdmglksdmgksdmglkmsdlgkmdslgkmsdlkmfdksmfnjtbnjfdlm,vf
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
        </div>
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>