<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div class="backpack-lending" style="background-image: url(assets/images/backpackBackground.png)">
        <div class="new-user-hero-backpack container">
            <div class="right">
                <h1 class="heading">Find the most interesting travel tips for your journey</h1>
                <h3> BackPack is a friendly community of world wanderers sharing advice and inspiration</h3>
            </div>
        </div>
    </div>
    <div class="backpack-container">
    <div class="container">
        <div class="row">
            <p class="greetings-backpack">your backpacks</p>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="city-favourite-comments-panel">

            </div>
        </div>
        <div class="col-md-6">
            <div class="city-favourite-comments-panel">
                <!--<div class=""-->
            </div>
        </div>
        </div>
        </div>
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>