<% include common/head.ejs %>
<div class="preloader">
    <div class="loader"></div>
</div>
<div class="main-container">
    <% include common/header.ejs %>

    <div class="backpack-lending" style="background-image: url(assets/images/backpackBackground.png)">
        <div class="new-user-hero-backpack container">
            <div class="right">
                <h1 class="heading">Find the most interesting travel tips for your journey</h1>
                <h3> BackPack is a friendly community of world wanderers sharing advice and inspiration</h3>
            </div>
        </div>
    </div>
    <div class="backpack-container">
        <div class="container">
            <div class="row">
                <p class="greetings-backpack">your backpacks</p>
            </div>
            <div class="row" id="city-favourite-comments-container"></div>
        </div>
    </div>

    <div class="niceStaff">
        <img src="assets/images/port.png">
        <p>Adventures are waiting!</p>
    </div>

    <div id="fs-img-panel">
        <span id="img-panel-close">&times;</span>
        <img id="fs-img-block">
        <div id="fs-img-caption"></div>
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>