<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div id="info"></div>

    <div class="container">
        <div class="row">
            <nav class="shift" id="city-filter">
                <ul>
                    <li role="presentation" class="active filter-1" id="filter-food"><a>Food</a></li>
                    <li role="presentation" class="filter-2" id="filter-house"><a>House</a></li>
                    <li role="presentation" class="filter-3" id="filter-hitchhiking"><a>Hitchhiking Tips</a></li>
                    <li role="presentation" class="filter-4" id="filter-abandoned"><a>Abandoned houses</a></li>
                </ul>
            </nav>
        </div>

        <div class="container" id="comments"></div>

        <span class="btn icon-btn btn-primary btn-add">Add comment <span class="glyphicon glyphicon-chevron-right img-circle" id="right"></span> </span>
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>