<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div id="info"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div>
        </div>

        <div class="row" id="comments"></div>

        <span class="btn icon-btn btn-primary btn-add">Add comment <span class="glyphicon glyphicon-chevron-right img-circle" id="right"></span> </span>
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>