<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <!--<div class="new-city-hero container" style="background-image: url(assets/images/paris.jpg)">-->
        <!--<div class="title-box">-->
            <!--<p>experience</p>-->
            <!--<h1 class="city-name">paris</h1>-->
            <!--<p>like a local</p>-->
            <!--<div class="city-info">-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div class="container">
        <div class="row">
            <button class="btn icon-btn btn-primary btn-add">Add comment <span class="glyphicon glyphicon-chevron-right img-circle"></span> </button>
            <!--<button class="btn icon-btn btn-primary"><b>Add comment > </b></button>-->
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail thumb_city">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>username</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>

            <div class="col-sm-1">
                <div class="thumbnail thumb_city">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>username</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>


            <div class="comment">
                <div class="col-sm-1">
                    <div class="thumbnail thumb_city">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>username</strong> <span class="text-muted">commented 5 days ago</span>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-1">
                <div class="thumbnail thumb_city">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>username</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>