<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div class="new-user-hero container">
        <div class="left col-xs-7">
            <h1 class="heading">Find the best place to live, work or play</h1>
            <h3>Nomad List is the biggest database of cities in the world. It analyzes 250,000+ data points to help you choose where to go</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Find Your place</button>
                    </span>
            </div>
        </div>
        <div class="right col-xs-5">
            <img src="assets/images/backpack.png">
        </div>
    </div>

    <div class="view-container">
        <div class="container">
            <div class="row">
                <p class="greetings">STUFF YOU MIGHT LIKE</p>
            </div>
            <div class="row" id="cities"></div>
        </div>
    </div>

    <% include common/footer.ejs %>
<<<<<<< HEAD
</div>
<% include common/foot.ejs %>
=======
</div>
>>>>>>> 4af5499e5e3e050c733437bace4b98ebd3dfeb22
