<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>
    <div class="new-user-hero container">
        <div class="left col-xs-7">
            <h1 class="heading">Find the best place to live, work or play</h1>
            <h3>Nomad List is the biggest database of cities in the world. It analyzes 250,000+ data points to help you choose where to go</h3>
            <a class="btn btn-primary btn-lg">Find Your Place</a>
        </div>
        <div class="right col-xs-5">
            <img src="assets/images/backpack.png">
        </div>
    </div>

    <div class="view-container">
        <div class="container">
            <div class="row">
                <p class="greetings">STUFF YOU MIGHT LIKE</p>
            </div>
            <div class="row" id="cities">
                <!--<div class="col-sm-6 col-md-4">-->
                    <!--<div class="thumbnail">-->
                        <!--<img src="assets/images/backpack.png" alt="...">-->
                        <!--<div class="caption">-->
                            <!--<h3>Thumbnail label</h3>-->
                            <!--<p>Nomad List is the biggest database of cities in the world</p>-->
                            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

</div>
<% include common/foot.ejs %>