<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>

    <div class="lending" style="background-image: url(assets/images/mainBackground.png)">
        <div class="new-user-hero container">
            <div class="left">
                <h1 class="heading">Find the most interesting travel tips for your journey</h1>
                <h3> BackPack is a friendly community of world wanderers sharing advice and inspiration</h3>
                <h1 class="heading">Find the best place to live, work or play</h1>
                <h3>Nomad List is the biggest database of cities in the world. It analyzes 250,000+ data points to help you choose where to go</h3>
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search for...">-->
                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default" type="button">Find Your place</button>-->
                    <!--</span>-->
                <!--</div>-->
                <h1 class="heading">Find the most interesting travel tips for your journey</h1>
                <h3> BackPack is a friendly community of world wanderers sharing advice and inspiration</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Find Your place</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="view-container">
        <div class="container">
            <div class="row">
                <p class="greetings">STUFF YOU MIGHT LIKE</p>
            </div>
            <div class="row" id="cities"></div>
        </div>
    </div>

    <% include common/footer.ejs %>
</div>
<% include common/foot.ejs %>