<% include common/head.ejs %>
<div class="main-container">
    <% include common/header.ejs %>
    <div class="map-container">
        <div id="maps"></div>
    </div>
</div>
<% include common/foot.ejs %>