<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<% if(mainActive) { %>
<script type="text/javascript" src="assets/js/main.js"></script>
<% } %>
<% if(mapActive) { %>
<script type="text/javascript" src="assets/js/map.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCKuZRx16PoUDO1jo5Ah1MfwYU4HepKhak"></script>
<% } %>
<footer>
    <div class="container">
        TIPA FOOTER
    </div>
</footer>
</body>
</html>