<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<% if(mainActive) { %>
<script type="text/javascript" src="assets/js/main.js"></script>
<% } %>
<% if(cityActive) { %>
<script type="text/javascript" src="assets/js/city.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCthtxY997o7mIEBJhWcAakbqSv8YWX_3o&callback=initMap" async defer></script>
<% } %>
<% if(backpackActive) { %>
<script type="text/javascript" src="assets/js/backpack.js"></script>
<% } %>
<% if(aboutActive) { %>
<script type="text/javascript" src="assets/js/aboutus.js"></script>
<% } %>
</body>
</html>