<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<% if(mainActive) { %>
<script type="text/javascript" src="assets/js/main.js"></script>
<% } %>
<% if(cityActive) { %>
<script type="text/javascript" src="assets/js/city.js"></script>
<% } %>
<!--<% if(backpackActive) { %>-->
<!--<script type="text/javascript" src="assets/js/backpack.js"></script>-->
<!--<% } %>-->
<% if(aboutActive) { %>

<% } %>
</body>
</html>