<div class="header">
    <div class="row">
        <div class="col-md-2 logo">
            <a href="/"><img src="assets/images/logo.png"></a>
            <!--<h1>Backpack</h1>-->
        </div>

        <div class="col-md-8">
            <nav class="shift">
                <ul>
                    <li><a href="/">Home</a></li>
                    <% if (!cityActive) { %>
                    <li id="city-scroll"><a>Cities</a></li>
                    <% } else { %>
                    <li id="city-scroll"><a>Comments</a></li>
                    <% } %>
                    <li><a href="#">BackPack</a></li>
                    <li><a href="#">More</a></li>
                    <li><a href="#">Nice staff</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>