<div class="header">
    <div class="row">
        <div class="col-md-2 logo">
            <a href="/"><img src="assets/images/logo.png"></a>
        </div>

        <div class="col-md-8">
            <nav class="shift">
                <ul>
                    <li><a href="/">Home</a></li>
                    <% if (mainActive) { %>
                    <li id="city-scroll"><a>Cities</a></li>
                    <% } else if (cityActive){ %>
                    <li id="city-scroll"><a>Comments</a></li>
                    <% } else if (backpackActive) { %>
                    <li id="city-scroll"><a>Favourites</a></li>
                    <% } else if (aboutActive) { %>
                    <li id="city-scroll"><a>Our Team</a></li>
                    <% } %>
                    <li><a href="/backpack.html">BackPack</a></li>
                    <li><a href="/about.html">About us</a></li>
                    <li id="staff" ><a>Nice stuff</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>