<%
var main;
var map;
if (mainActive) {
    main = 'active';
    map = '';
}
if (mapActive) {
    main = '';
    map = 'active';
}
%>

<div class="header">
    <div class="row">
        <div class="col-md-2 logo">
            <a href="/"><img src="assets/images/logo.png"></a>
        </div>
        <div class="col-md-8">
            <nav class="shift">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cities</a></li>
                    <li><a href="#">BackPack</a></li>
                    <li><a href="#">More</a></li>
                    <li><a href="#">Nice staff</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>