<%
var main;
var map;
if (mainActive) {
    main = 'active';
    map = '';
}
if (mapActive) {
    main = '';
    map = 'active';
}
%>

<div class="header">
    <div class="row">
        <div class="col-xs-4 logo">

        </div>
        <div class="col-xs-4 menu">
        </div>
        <div class="col-xs-4">

        </div>
    </div>
</div>