<%
var main;
var map;
if (mainActive) {
    main = 'active';
    map = '';
}
if (mapActive) {
    main = '';
    map = 'active';
}
%>

<div class="header">
    <div class="row">
        <div class="col-xs-4 logo">

        </div>
        <div class="col-xs-4 menu">
            <ul class="nav nav-pills">
                <li class=<%= main %>><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class=<%= map %>><a href="map.html"><span class="glyphicon glyphicon-globe"></span> Map</a></li>
            </ul>
        </div>
        <div class="col-xs-4">

        </div>
    </div>
</div>