
    <div class="weather">
        <div class="info">
            <div class="temp">
                <small>COUNTRY: </small><%= city.country %>
            </div>
            <div class="wind">
                <small>CURRENCY: </small> <%= city.currency %>
            </div>
            <div class="description">
                <small>POPULATION: </small><%= city.population %>
            </div>
        </div>
    </div>