<div class="col-md-6">
    <div class="city-favourite-comments-panel">
        <div class="backpack-city-name">
            <h2><%= city.city%></h2>
        </div>
        <div class="backpack-comments">
        </div>
    </div>
</div>