<div class="new-city-hero container" style="background-image: url(<%= city.icon%>)">
    <div class="title-box">
        <p>experience</p>
        <h1 class="city-name"><%= city.city%></h1>
        <p>like a local</p>
        <div class="city-info">

        </div>
    </div>
</div>