<div class="col-md-6 col-xs-12" id="form">
    <div class="col-xs-10 full-width">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="nickname"></span>
            </div>
            <div class="panel-heading">
                <input type="text" class="form-control location" placeholder="Enter location coordinates">
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="5" id="comment" maxlength="500"></textarea>
                <form enctype="multipart/form-data" action="/upload" method="post">
                    <input type="file" name="photo" multiple />
                <button type="submit" class="btn btn-send">
                    Send <span class="glyphicon glyphicon-send"></span>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>