<div class="col-md-6 col-xs-12" id="form">
    <div class="col-xs-10 full-width">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="nickname"></span>
            </div>
            <div class="panel-heading form-location-name">
                <input type="text" class="form-control location-name" maxlength="50" placeholder="Enter location name">
                <span id="helpLocationName" class="help-block">Please write location name</span>
            </div>
            <div class="panel-body form-comment">
                <textarea class="form-control" rows="5" id="comment" maxlength="400" placeholder="Enter comment there"></textarea>
                <span id="helpComment" class="help-block">Comment cannot be empty</span>
                <form enctype="multipart/form-data">
                    <input id="img" type="file" name="photo" accept=".png, .jpg, jpeg" multiple />
                    <span class="btn btn-send"> Send <span class="glyphicon glyphicon-send"></span> </span>
                </form>
            </div>
        </div>
    </div>
</div>