<div class="col-md-6 col-xs-12" id="form">
    <div class="col-xs-10 full-width">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="nickname"></span>
            </div>
            <div class="panel-heading">
                <input type="text" class="form-control location-name" placeholder="Enter name of location">
                <br>
                <input type="text" class="form-control location" placeholder="Enter location coordinates">
            </div>
            <div class="panel-body">
<<<<<<< HEAD
                <textarea class="form-control" rows="5" id="comment" maxlength="300"></textarea>
                <button type="submit" class="btn btn-send">
                    Send <span class="glyphicon glyphicon-send"></span>
                </button>
=======
                <textarea class="form-control" rows="5" id="comment" maxlength="400"></textarea>
                <form enctype="multipart/form-data">
                    <input id="img-1" type="file" name="photo" accept=".png, .jpg, jpeg" multiple />
                    <input id="img-2" type="file" name="photo" accept=".png, .jpg, jpeg" multiple />
                    <span class="btn btn-send">
                        Send <span class="glyphicon glyphicon-send"></span>
                    </span>
                </form>
>>>>>>> 6e5f7a471c6633a701e7c7abac05f08b1be9ee7e
            </div>
        </div>
    </div>
</div>