 <div class="weather">
                <div class="info">
                    <div class="temp">
                        <small>TEMPERATURE: </small><%= weather.main.temp %>°C
                    </div>
                    <div class="wind">
                        <small>WIND SPEED: </small> <%= weather.wind.speed %>m/s
                    </div>
                    <div class="description">
                        <%= weather.weather[0].description %>
                    </div>
                </div>
                </div>
