.our-team{
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  font-size: 40px;
}

.text-about {
  width: 65%;
  padding: 60px;
  font-size: 18px;
  margin:0 auto;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
  margin-top:250px;
}

.img-row{
  width: 70%;
  margin:0 auto;
}

.my-container {
  position: relative;
  padding-top: 20px;
}

.image {
  opacity: 1;
  display: block;
  max-width: 80%;
  transition: .5s ease;
  margin:0 auto;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width:50%;
  top: 50%;
  left: 50%;
  text-align:center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.my-container:hover .image {
  opacity: 0.3;
}

.my-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: @mainColor;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.our-team {
  display: inline;
}

.container{
  h2 {
    font-size: 40px;
  }
}