.backpack-lending{
  background-position: 50% 99%;
  background-size: cover;
}

.new-user-hero-backpack{
  padding: 15px 10px;
  height:300px;
}

.right{
  margin:30px auto;
  text-align: center;
  color:white;
  text-shadow: 1px -1px 2px #000;
  width:auto;

}

.heading{
  font-weight: bold;
}

.right > h2{
  margin: 10px 0;
}

.right > h3{
  color:white;
}

.backpack-container{

}

.greetings-backpack{
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin:15px auto;
  width:50%;
  text-align: center;
  color: gray;
}

.city-favourite-comments-panel{
  padding:5px 15px;
  padding-bottom: 15px;
  padding-right:10px;
  background-color: @mainColor;
  border-radius: 10px;
}

#city-favourite-comments-container{
    margin-bottom: 40px;
}

.backpack-city-name{
  text-align: center;
  color:white;
  padding-bottom:5px;
}

.backpack-comments{
  height:300px;
  max-height: 300px;
  overflow-y: auto;
}

.panel-default{
  margin-right:4px;
}

.city-favourite-comments-panel{
  margin-bottom: 30px;
}
