.backpack-lending{
  background-position: 50% 99%;
  background-size: cover;
}

.new-user-hero-backpack{
  padding: 15px 10px;
  height:300px;
}

.right{
  margin:30px auto;
  text-align: center;
  color:white;
  text-shadow: 1px -1px 2px #000;
  width:auto;

}

.heading{
  font-weight: bold;
}

.right > h2{
  margin: 10px 0;
}

.right > h3{
  color:white;
}

.backpack-container{

}

.greetings-backpack{
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin:15px auto;
  width:25%;
  color: gray;
}

.city-favourite-comments-panel{
  padding:5px;
  border:2px solid lightgray;
}

.backpack-commnets{
  height:200px;
  overflow-y: scroll;
  padding: 5px;
}

#city-favourite-comments-container{
    margin-bottom: 40px;
}

.backpack-city-name{
  text-align: center;
}
