.title-box{
  margin-top:50px;
  color:white;
  text-align:center;
  text-transform: uppercase;
  p{
    margin:0;
    font-size:30px;
    text-transform: uppercase;
    text-shadow: 2px 1px 4px #000;
  }
}

.city-name{
  margin:0;
  font-size:65px;
  text-transform: uppercase;
  text-shadow: 2px 1px 4px #000;
}

.new-city-hero{
  padding: 15px 10px;
  background-size: cover;
  background-position-y: 50%;
  height:350px;
}