.title-box {
  margin-top: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  p {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 1px 4px #000;
  }
}

.city-name {
  margin: 0;
  font-size: 65px;
  text-transform: uppercase;
  text-shadow: 2px 1px 4px #000;
}

.new-city-hero {
  padding: 15px 10px;
  background-size: cover;
  background-position-y: 50%;
  height: 350px;
}

.city-info{
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.thumb_city {
  padding: 0;
}

.row {
  margin-left: 4px;
}

.btn-glyphicon {
  padding:8px;
  background:#ffffff;
  margin-right:4px;
}
.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius:50px;
}

.btn-add {
  position:relative;
  top:30%;
  left:41%;
  width: 200px;
  padding: 14px;
  margin-top: 30px;
  background-color: @mainColor;
  border-color: transparent;
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-send {
  float: right;
  background-color: @mainColor;
  color: white;
  margin-top: 15px;
}

#form {
  display: none;
}

.panel-body {
  overflow-x: hidden;
}

li.active {
  background-color: #F1C40F;
}

#city-filter ul li.active a {
  color: white;
}

#city-filter ul li a:hover {
  cursor: pointer;
}

.favorite {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid @mainColor;
  border-bottom: 1px solid @mainColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  cursor: pointer;
}