.title-box {
  margin-top: 50px;
  color: @w;
  text-align: center;
  text-transform: uppercase;
  p {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 1px 4px @b;
  }
}

.city-name {
  margin: 0;
  font-size: 65px;
  text-transform: uppercase;
  text-shadow: 2px 1px 4px @b;
}

.new-city-hero {
  padding: 15px 10px;
  background-size: cover;
  background-position-y: 50%;
  height: 350px;
}

.city-info{
  margin-top: 10px;
  padding: 10px 10px 0;
  border-radius: 10px;
}

.thumb_city {
  padding: 0;
}

.row {
  margin-left: 4px;
}

.btn-glyphicon {
  padding: 8px;
  background: @w;
  margin-right: 4px;
}
.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
}

.btn-add {
  position: relative;
  top: 30%;
  left: 41%;
  width: 200px;
  padding: 15px;
  margin-top: 30px;
  background-color: @mainColor;
  border-color: transparent;
  font-size: 20px;
  margin-bottom: 40px;
}

#right {
  font-size: 16px;
}

#weather-widget{
  position: absolute;
  top: 100px;
  left: 0.8%;
  margin-top: 50px;
}

#weather-div{
  width: 150px;
  padding: 10px;
  background-color: @mainColor;
  border-color: transparent;
  font-size: 13px;
  color: @w;
  border-radius: 0 0 5px 5px;
  display: none;
}


.show-weather{
  width: 150px;
  padding: 10px;
  background-color: @mainColor;
  border-color: transparent;
  font-size: 20px;
  border-radius: 5px 5px 0 0;
}

.description{
  text-align: center;
}

.btn-send {
  float: right;
  background-color: @mainColor;
  color: @w;
  margin-top: 15px;
}

#form {
  display: none;
}

.panel-body {
  overflow-x: hidden;
}

li.active {
  background-color: @filters;
}

#city-filter ul li.active a {
  color: @w;
}

#city-filter ul li a:hover {
  cursor: pointer;
}

.favorite {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.scroll-page {
  position: fixed;
  top: 25%;
  right: 1%;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 9px;
  font-size: 13px;
  background-color: @mainColor;
  border-color: transparent;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: @w;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

.glyphicon-menu-down {
  top: 15px;
  font-size: 20px;
  color: @w;
}

.thumbnail {
  border: 0;
}

.local-search-container{
  width:600px;
  height: @SearchContainerHeight;
  margin: 20px auto;
}

.search-button{
  color: @w;
}

#fs-img-panel {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
#fs-img-block {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius:10px;
}

#fs-img-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 30px;
}

#fs-img-block, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#img-panel-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#img-panel-close:hover,
#img-panel-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  #fs-img-block {
    width: 100%;
  }
}