.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ededed;
  height: @TopPanelHeight;
}

.row {
  width: 100%;
}

.logo{
  float: left;
  img {
    height: @TopPanelHeight - 5px;
  }
}

