.header {
  width: 100%;
  background-color: @w;
  border-bottom: 1px solid #ededed;
  height: @TopPanelHeight;
}

.row {
  width: 100%;
}

.logo{
  float: left;
  a {
    text-decoration: none;
    color: @b;
  }
  p {
    height: @TopPanelHeight - 2px;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 27px;
  }
  cursor: pointer;

}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 23px 0 19px;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
  text-decoration: none;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
  text-decoration: none;
}
nav.shift ul li a:hover {
  color: #91640F;
  text-decoration: none;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  text-decoration: none;
}

.reg-log-menu{
  margin-top:26px;
  //text-align: center;
}

.logined, .glyphicon-user {
  display: none;
}

.log-in-button{
  padding: 10px 25px;
  margin-right:60px;
  float:right;
  color:gray;
  font-weight: bold;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

#log-in-button-id{
  display: block;
}

.log-in-button:hover{
  color:white;
  background-color: lightgray;
  border-color: lightgray;
}

.username {
  float: right;
  color: @g;
  font-size: 20px;
  margin: 30px 0;
}

.glyphicon-off {
  font-size: 25px;
  color: @g;
  float: right;
  cursor: pointer;
  margin: 30px 0 30px 10px;
}

.glyphicon-off:hover {
  color: @mainColor;
}

#logo-text {
  display: inline;
}

#city-scroll:hover, #comments-scroll:hover, #favourites-scroll:hover, #team-scroll:hover {
  cursor: pointer;
}

#staff:hover {
  cursor: pointer;
}