.lending{
  background-position: 10% 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-user-hero{
  padding: 15px 10px;
  height:600px;
}

.left{
  margin:0 auto;
  margin-top:150px;
  text-align: center;
  color:white;
  text-shadow: 1px -1px 2px #000;
  width:auto;

}

.heading{
  font-weight: bold;
}

.left > h2{
  margin: 10px 0;
}

.left > h3{
  color:white;
}

.greetings{
  text-align: center;
  font-size: 15px;
  color: #9B9B9B;
  text-transform: uppercase;
  margin-bottom:30px;
}

.view-container{
  background-color: #EEEEEE;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding:10px;
  width:100%;
}

.right {
  img {
    height: 300px;
    width: 420px;
  }
}